body{
    margin: 0;
    background-color: rgba(102, 107, 121, 1);
    width: 100%;
    float: right;
}

footer{
    position: absolute;
    height: 8%;
    width: 100%;
    bottom: 0;

    text-align: center;
    background-color: rgb(48, 48, 48);
}

footer > a{
    color: rgb(155, 155, 155);
}


.content{
    color:white;
    font-size: xx-large;
    
    border: solid 5px white;
    background-color: rgb(41, 40, 40);

    width: 400px;
    aspect-ratio: 6/7;
    margin: auto;
    margin-top: 10%;
}

.upperbar{
    background-color: rgb(27, 27, 27);
    padding: 1%;
}

.display{
    float: right;
    text-align: right;
    font-size: 200%;
    height: 32%;
    width: 100%;
    background-color: rgb(41, 40, 40);
}

.keypad{
    background-color: rgb(41, 40, 40);
    height: auto;
    width: 100%;
    height: 58%;
    float: right;
}

.numbtn, .oppbtn{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 25%;
    height: 20%;
    text-align: center;
    color: white;
    font-size: x-large;
}

.numbtn{
    background-color: rgb(29, 28, 28);
}

.oppbtn{
    background-color: rgb(59, 58, 58);
}

#display, #botDisplay{
    height: 50%;
}

#operatorDisplay{
    background-color: rgb(26, 26, 26);
    width: 20%;
    float: left;
    text-align: center;
    border-radius: 0px 30px 0px 0px;
}
#subDisplay{
    width: 70%;
    float: right;
}

/* animations */

button{
    cursor: pointer;
    transition: font-size 70ms ease;
}

button:hover{
    font-size: xx-large;
}

button:active{
    font-size: x-large;
}